$primaryBase:  #667eea;
$secondaryBase: #764ba2;
$neutralLight: #f2f2f2;
$neutralDark: #222;





.jumbotron {
  background-color: $neutralLight;
  border-radius: 0;
  position: relative;
  margin-bottom: 60px;
}
.jumbotron:after {
  content: '';
  background-image: linear-gradient(135deg, $primaryBase 0%, $secondaryBase 100%);
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}

.container {
  padding: 0;
}
.card-text {
  font-weight: 400;
}